.about-rest {
  padding-top: 16px;
  padding-bottom: 20px;
}

.about-rest-pre {
  margin-bottom: 12px;

  font-family: 'Times New Roman', sans-serif;
  font-size: 20px;
  line-height: 1.15;
  color: var(--pre-title-color);
}

.about-rest-title {
  margin-bottom: 12px;

  font-family: 'FilmP3', sans-serif;
  font-size: 40px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  color: var(--title-color);
}

.about-rest-after {
  margin-bottom: 28px;
  max-width: 258px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.about-rest-wrap {
  max-width: 244px;
  max-height: 322px;

  background-color: #dadada;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.about-rest-wrap.about-rest-img {
  margin-left: auto;
}

.about-rest-text {
  margin-left: 20px;
  max-width: 163px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--brown-color);
}

.about-rest-thumb {
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.about-rest-slider {
  margin-bottom: 20px;

  display: flex;
  gap: 25px;
  justify-content: center;
}

.about-rest-list {
  display: flex;
  gap: 32px;

  justify-content: flex-end;
}

@media screen and (min-width: 414px) {
  .container {
    width: 414px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 960px;

    position: relative;
  }

  .about-rest {
    padding-top: 120px;
    padding-bottom: 32px;
  }

  .about-rest-pre {
    font-size: 32px;
  }

  .about-rest-title {
    font-size: 64px;
  }

  .about-rest-after {
    margin-bottom: 142px;

    max-width: 439px;
    font-size: 16px;
  }

  .about-rest-wrap {
    max-width: 400px;
    max-height: 524px;

    margin: 0;
  }

  .about-rest-wrap.about-rest-img {
    position: absolute;
    top: -153px;
    left: 519px;
  }

  .about-rest-thumb {
    justify-content: flex-start;
    margin-bottom: 198px;
  }

  .about-rest-text {
    margin-left: 48px;

    max-width: 312px;
    font-size: 16px;
  }

  .about-rest-slider {
    position: absolute;
    top: 828px;
    left: 515px;
    gap: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1140px;
  }

  .about-rest-after {
    max-width: 518px;
    margin-bottom: 162px;
  }

  .about-rest-wrap.about-rest-img {
    left: 555px;
  }

  .about-rest-wrap {
    max-width: 460px;
    max-height: 574px;
  }

  .about-rest-thumb {
    margin-bottom: 143px;
  }

  .about-rest-text {
    margin-left: 32px;
  }

  .about-rest-slider {
    top: 783px;
    left: 575px;
  }
}
