.about-hotel {
  padding-top: 18px;
  padding-bottom: 18px;
}

.about-hotel-pre-title {
  font-family: 'Times New Roman', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: var(--pre-title-color);
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-bottom: 6px;
}
.about-hotel-title {
  font-family: 'FilmP3';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: 0.3em;
  color: var(--title-color);
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-bottom: 16px;
}
.about-hotel-after-title {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--text-color);
  max-width: 242px;
  width: fit-content;
  margin-left: auto;
  margin-bottom: 28px;
}
.about-hotel-img-wrap {
  width: 244px;
  height: 322px;
  background: #dadada;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  margin-bottom: 32px;
}
.about-hotel-img-wrap.inner {
  width: 200px;
  height: 278px;
}
.about-hotel-img-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-hotel-text {
  max-width: 163px;
  height: 120px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.23;
  letter-spacing: 0.02em;
  color: var(--brown-color);
}
.about-hotel-slide {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}
.about-hotel-wrap {
  width: 245px;
  background: #dadada;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
.about-hotel-btn-wrap {
  display: flex;
  gap: 32px;
}
.about-hotel-btn {
}
.btn {
}
.about-hotel-icon {
  transition: fill var(--transit);
}
.about-hotel-btn:hover .about-hotel-icon,
.about-hotel-btn:focus .about-hotel-icon {
  fill: var(--accent-color);
}
/* -----------------MEDIA---------------- */

@media screen and (min-width: 414px) {
  .about-hotel > .container {
    width: 414px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1024px) {
  .about-hotel > .container {
    width: 960px;
  }

  .about-hotel {
    padding-top: 120px;
    padding-bottom: 32px;
  }

  .about-hotel-pre-title {
    margin-bottom: 4px;
    font-size: 32px;
    color: var(--pre-title-color);
  }

  .about-hotel-title {
    font-size: 64px;
    line-height: 1.07;
    letter-spacing: 0.3em;
    color: var(--title-color);
  }

  .about-hotel-after-title {
    font-size: 16px;
    max-width: 419px;
    margin-bottom: 142px;
  }

  .about-hotel-img-wrap {
    width: 400px;
    height: 524px;
  }

  .about-hotel-img-wrap.inner {
    width: 350px;
    height: 500px;
  }

  .about-hotel-img-wrap.about-hotel-img {
    position: absolute;
    top: -144px;
    left: 100px;
    margin-bottom: 0px;
  }

  .about-hotel-img-text {
    justify-content: center;
    gap: 48px;
    margin-bottom: 198px;
  }

  .about-hotel-text {
    font-size: 16px;
    max-width: 312px;
    margin-left: auto;
  }

  .about-hotel-slide {
    position: absolute;
    top: 828px;
    gap: 40px;
  }

  .about-hotel-wrap {
    width: 194px;
  }
}

@media screen and (min-width: 1280px) {
  .about-hotel > .container {
    width: 1140px;
  }
  .about-hotel-after-title {
    font-size: 16px;
    max-width: 488px;
    margin-bottom: 162px;
  }

  .about-hotel-img-wrap {
    width: 460px;
    height: 574px;
    margin-bottom: 0px;
  }

  .about-hotel-img-wrap.inner {
    width: 460px;
    height: 574px;
  }

  .about-hotel-img-wrap.about-hotel-img {
    position: absolute;
    top: -144px;
    left: 100px;
    margin-bottom: 0px;
  }

  .about-hotel-img-text {
    align-items: start;
    margin-bottom: 115px;
  }

  .about-hotel-text {
    font-size: 16px;
    max-width: 312px;
    margin-top: 169px;
  }

  .about-hotel-slide {
    position: absolute;
    top: 779px;
  }

  .about-hotel-wrap {
    width: 254px;
  }
}
