.contacts {
  padding-top: 36px;
  padding-bottom: 32px;
}

.contact-logo {
  font-family: 'FilmP3', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  color: var(--title-color);

  margin-bottom: 12px;
}
.contact-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--text-color);

  margin-bottom: 16px;
}

.text-contact {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brown-color);
}

.contact-rest {
  margin-bottom: 16px;
}

.contact-hotel {
  margin-bottom: 16px;
}

.contact-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);

  transition: color var(--transit);
}

.contact-link:hover, .contact-link:focus {
  color: var(--brown-color)
}

.contact-link.first-tel {
  margin-right: 12px;
}

.contact-item {
  display: flex;
  align-items: center;
}

.contact-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #ffffff;
  border: 0.5px solid var(--accent-color);
  border-radius: 2px;
  padding-left: 8px;
}

.contact-wrapper.first {
  width: 144px;
  height: 40px;
  margin-left: 22px;
}

.contact-wrapper.second {
  width: 260px;
  height: 40px;
  margin-left: 54px;
}

.contact-wrapper.map {
  width: 260px;
  height: 76px;
  padding-left: 10px;
  margin-left: 124px;
}

.contacts-tel-icon {
  margin-right: 8px;
  fill: var(--brown-color);
}

.contacts-address-icon {
  margin-right: 10px;
  fill: var(--brown-color);
}

.contact-map {
  margin-bottom: 39px;
}

.contact-img img {
  border: 1px solid var(--grey-color);
  box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

@media screen and (min-width: 414px) {
  .contacts > .container {
    width: 414px;
  }

  .contact-wrapper {
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1024px) {
  .contacts > .container {
    width: 960px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .contacts {
    padding-top: 56px;
    padding-bottom: 40px;
  }

  .contact-logo {
    font-size: 64px;
    margin-bottom: 8px;
  }

  .contact-text {
    margin-bottom: 52px;
  }

  .text-contact {
    margin-bottom: 8px;
  }

  .contact-item {
    display: block;
  }

  .contact-rest {
    margin-bottom: 24px;
  }

  .contact-hotel {
    margin-bottom: 48px;
  }

  .contact-map {
    margin-bottom: 0px;
  }

  .contact-wrapper.first {
    margin-left: 0px;
  }

  .contact-wrapper.second {
    margin-left: 0px;
  }

  .contact-wrapper.map {
    margin-left: 0px;
    width: 285px;
    height: 56px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts > .container {
    width: 1140px;
  }

  .contacts {
    padding-bottom: 73px;
  }

  .contact-logo {
    margin-bottom: 16px;
  }

  .contact-text {
    margin-bottom: 40px;
  }
}

