

 /* --FOOTER-- */
.footer {
background: var(--footer-background);
}

.footer-box {
display: flex;
flex-direction: row;
padding-top: 40px;
padding-left: 44px;
padding-bottom: 42px;
padding-right: 18px;
height: 240px;
width: 100%;
}

.footer-title {
display: flex;
align-items: center;
font-family: 'FilmP3';
margin-right: auto;

font-weight: 700;
font-style: normal;
font-size: 40px;
line-height: 1.07;
letter-spacing: 0.3em;

color: var(--accent-color);
}

.footer-nav-list {
display: flex;
flex-direction: column; 
row-gap: 16px; 
}
.footer-nav-link {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em; 

color: var(--accent-color);
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer {
margin-top: 33px;
}
.social-list {
display: flex;
gap: 23px;
}
.social-icon {
fill: var(--accent-color);    
background: transparent;
margin-left: auto;
cursor: pointer;
}

@media screen and (min-width: 414px) {
.footer-container {
width: 414px;
} 
}

@media screen and (max-width: 1023px) {
.footer-button {
display: none;  
}
}

@media screen and (min-width: 1024px) {

.footer-container {
width: 1024px;
} 
.social-footer {
display: none;  
}
.footer-title {
font-size: 64px;
}

.footer-box {
padding-top: 80px;
padding-left: 107px;
padding-bottom: 80px;
padding-right: 139px;
height: 304px;
}
    
.footer-title {
margin-right: 163px;
}

.footer-nav-list {
margin-right: 137px;
}
   
.social-button {
display: flex;
align-items: center;
font-size: 16px;
line-height: 1.25;
letter-spacing: 0.02em;
 
padding-left: 12px;
padding-right: 11px;
margin-right: 0;
width: 144px;
height: 40px;
cursor: pointer;

color: var(--accent-color);    
border: 0.5px solid #F3C653;
border-radius: 2px;   
}
.social-link {
display: flex;
justify-content: center;
align-items: center;

transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon {
fill: var(--accent-color);    
background: transparent;
margin-left: auto;
margin-right: 0;
}
}

@media screen and (min-width: 1280px) {
.social-footer {
display: none;  
}
    
.footer-container {
width: 1280px;
}

.social-footer {
display: none;  
}
            
.footer-box {
padding-left: 211px;
padding-right: 171px;
}
                
.footer-title {
margin-right: 163px;
}
            
.footer-nav-list {
margin-right: 137px;
}
}









