body {
    margin: 0;
}
.list {
    list-style: none;
    display: flex;
}
.link {
    text-decoration: none;
}
.header {
    position: absolute;
    width: 100%;
}
.header-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header-logo {
    font-family: 'FilmP3', sans-serif;
    font-weight: 700;
    letter-spacing: 0.3em;
    color: var(--white-color);
    text-align: center;
}
.header-wrap {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
}
.header-menu {
    gap: 72px;
}
.header-item {
    display: flex;
    align-items: center;
    gap: 32px;
    height: 40px;
}
.header-nav-link-title {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}
.header-tel {
    display: flex;
    align-items: center;
}
.header-tel-icon {
    fill: var(--accent-color);
}
.header-tel-numb {
    display: contents;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(17/14);
    letter-spacing: 0.02em;
    color: var(--white-color);
}
.header-address-wrap {
    width: 210px;
    padding-inline: 6px;
    padding-block: 7px;
    border: 1px solid var(--social-icon-color);
    border-radius: 2px;

    font-weight: 400;
    font-size: 12px;
    line-height: calc(15/12);
    letter-spacing: 0.01em;
    color:  var(--address-color);
}
.header-address-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-address-icon {
    fill: var(--accent-color);
}
.header-soc-icon {
    fill: var(--social-icon-color);
}
@media screen and (max-width: 1023px) {
    /* mobile: верстка гумова, стає адаптивною на 414px; */
    .header {
        padding-block: 16px;
        background: var(--room-gradient);
    }
    .header-container {
        padding-inline: 1px;
    }
    .header-logo {
        font-size: 36px;
        line-height: calc(39/36);
        height: 39px;
        width: 114px;
    }
    .header-wrap {
        flex-direction: column;
        align-items: flex-end;
    }
    .header-nav {
        margin-bottom: 12px;
        justify-content: flex-end;
    }
    .header-menu {
        gap: 20px;
    }
    .header-item {
        gap: 6px;
        height: 24px;
    }
    .header-nav-link-title {
        font-size: 16px;
        line-height: calc(20/16);
    }
    .header-tel {
        height: 24px;
    }
    .header-tel-numb {
        display: none;
    }
    .header-soc-list {
        display: none;
    }
}
@media screen and (min-width: 414px) {
    .header-container {
        padding-inline: 15px;
        width: 414px;
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 1024px) {
    /* tablet: 1024px; */
    .header {
        padding-block: 30px;
    }
    .header-container {
        padding-inline: 47px;
        width: 1024px;
        height: 40px;
    }
    .header-logo {
        font-size: 40px;
        line-height: calc(43/40);
        width: 127px;
        height: 43px;
    } 
    .header-nav-link-title {
        font-size: 20px;
        line-height: calc(24/20);
    }
    .header-tel {
        padding: 7px;
        gap: 4px;
        border: 1px solid var(--social-icon-color);
        border-radius: 2px;
    }
    .header-address-wrap {
        display: none;
    }
    .header-soc-list {
        display: none;
    }
}
@media screen and (min-width: 1280px) {
    /* desktop: 1280px */
    .header-container {
        padding-inline: 85px;
        width: 1280px;
    }
    .header-wrap {
        gap: 140px;
    }
    .header-soc-list {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}