.triple-room-section{
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--bg-darklemon-color);
    

   
 }
 


 .title-thumb-triple{

    max-width: 242px;
    width: fit-content;
    margin-left: auto;
    
 }
 .triple-room-container{
   
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;

   
  
 }

 .section-title-triple{

  margin-bottom: 8px;
  font-family: 'Times New Roman', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: var(--pre-title-color);
  
 }



.section-logo-triple{
  font-family: 'FilmP3', sans-serif;
  font-weight: 700;
  letter-spacing: 0.3em;
  line-height: 1.07;
  color: var(--title-color);
  font-size: 36px;
  margin-bottom: 32px;
  width: fit-content;
  margin-left: auto;

}

.theme-thumb-triple{

  width: fit-content;
  margin-left: auto;
}

 .section-theme-triple{
  
  margin-bottom: 12px;
  font-style: normal;
  font-family: 'Times New Roman', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: var(--black-color);

 }

 .section-description-triple{
  font-family: 'Montserrat', sans-serif;;
  margin-bottom: 28px;
  max-width: 258px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--text-color);

 }

 
.triple-picture-wrap {
  width: 100%;
  max-width: 244px;
  max-height: 322px;
  background-color: #dadada;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
 
}

.triple-picture-wrap.section-picture-img {
  margin-right: auto;
  margin-bottom: 32px;
}

.slider-picture-wrapper{
  width: 100%;
  max-width: 194px;
}
 
.triple-slider-flex{
  display: flex;
  flex-direction: column;
  
}


.section-slider-triple {
  margin-bottom: 20px;
  display: flex;
  gap: 16px;
  justify-content: flex-start;
}

.slider-arrows-triple {
  display: flex;
  gap: 32px;
  justify-content: flex-end;
}




.button-list{
  display: flex;
  justify-content: center;
}

.hotel_button{
  display: inline-block; 
  min-width: 238px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  padding: 14px 24px;
  background-color: var(--black-color);
  border: 2px solid #FFFFFF;
  border-radius: 25px;
   
  text-align: center;
  
transition: box-shadow 250ms cubic-bezier(0.4,0,0.2,1), 
color 250ms cubic-bezier(0.4,0,0.2,1), 
background-color 250ms cubic-bezier(0.4,0,0.2,1);

}

.upper_button{
  margin-bottom: 24px;

}

.hotel_button:hover, .hotel_button:focus {
  background-color: var(--white-color);
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25)
}









/* -------MEDIA--------------- */

@media screen and (min-width: 414px){
  .triple-room-container{
  max-width: 514px;
}
}

@media screen and (min-width:1024px){
  .triple-room-section {
     padding-top: 62px;
     padding-bottom: 40px;
     
  }

  .triple-room-container{
   position: relative;
   padding-left: 47px;
   padding-right: 47px;
   max-width: 977px;
  
 }

  .section-title-triple{
   font-size: 32px; 
  }

  
 .title-thumb-triple{

  max-width: 400px;
  
  
}

  
.section-logo-triple{

 font-size: 64px;
 margin-bottom: 32px;

}

.section-theme-triple{
 font-size: 30px;
 margin-bottom: 16px;

}

.section-description-triple{
 
 font-size: 16px;
 max-width: 419px;
 margin-bottom: 176px;
}

.triple-picture-wrap {
 max-width: 400px;
 max-height: 524px;
}

.triple-picture-wrap.section-picture-img {
 position: absolute;
 top: -85px;
 left: 100px;
 margin-bottom: 48px;
}

.triple-slider-flex{
 display: flex;
 
 
 
}

.slider-button-flex{
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.clockwise-flex{
  flex-direction: row-reverse;
}

}

@media screen and (min-width: 1280px){
 .triple-room-section {
   padding-top: 72px;
 

}



.triple-room-container{

 padding-left: 85px;
 padding-right: 85px;
 max-width: 1280px;

}

.slider-picture-wrapper{
  
  max-width: 254px;
}

.section-logo-triple{

 margin-bottom: 62px;

}

.section-title-triple{
 font-size: 36px; 
}

.section-theme-triple{
 font-size: 36px;
 margin-bottom: 24px;

}


.triple-picture-wrap {
 max-width: 460px;
 max-height: 574px;
}


.triple-picture-wrap.section-picture-img{

 top: -110px;
 left: 155px;
 margin-bottom: 48px;
}


}

