body {
    margin: 0;
}

.list {
    list-style: none;
    display: flex;
}

.link {
    text-decoration: none;
}

.header-hotel {
    position: relative;
    height: 740px;
    padding-block: 16px;
    background-image: 
        linear-gradient(#000000a6, #000000a6), 
        url(../../images/hotel-hero/room-mob.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-hotel-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-inline: 15px;
    gap: 12px;
}

.header-hotel-logo {
    font-family: 'FilmP3', sans-serif;
    font-weight: 700;
    letter-spacing: 0.3em;
    color: var(--white-color);
    text-align: center;
    font-size: 36px;
    line-height: calc(39/36);
    height: 39px;
    width: 114px;
    text-transform: uppercase;
}

.header-hotel-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header-hotel-nav {
    display: flex;
    margin-bottom: 12px;
    justify-content: flex-end;
}

.header-hotel-menu {
    gap: 20px;
}

.header-hotel-item {
    display: flex;
    align-items: center;
    gap: 6px;
    height: 24px;
}

.header-hotel-nav-link-title {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    font-size: 16px;
    line-height: calc(20/16);
    text-transform: capitalize;
}

.header-hotel-tel {
    display: flex;
    align-items: center;
    width: 20px;
    height: 24px;
}

.header-hotel-tel-icon {
    fill: var(--accent-color);
    overflow: visible;
}

.header-hotel-tel-numb {
    display: none; 
    font-weight: 400;
    font-size: 14px;
    line-height: calc(17/14);
    letter-spacing: 0.02em;
    color: var(--white-color);
}

.header-hotel-address-wrap {
    width: 210px;
    padding-inline: 6px;
    padding-block: 7px;
    border: 1px solid var(--social-icon-color);
    border-radius: 2px;

    font-weight: 400;
    font-size: 12px;
    line-height: calc(15/12);
    letter-spacing: 0.01em;
    color:  var(--address-color);
}

.header-hotel-address-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-hotel-address-icon {
    fill: var(--accent-color);
}

.header-hotel-soc-list {
    position: absolute;
    display: flex;
    gap: 20px;
    left: 15px;
    top: 680px;
}

.header-hotel-soc-icon {
    fill: var(--social-icon-color);
}

.hotel-hero-container {
    text-align: center;
    padding-inline: 15px;
    padding-top: 165px;
    margin: 0 auto;
}

.hotel-hero-title {
    font-family: 'FilmP3', sans-serif;
    font-weight: 700;
    font-size: 78px;
    line-height: calc(103/96);
    letter-spacing: 0.3em;
    color: #FFFFFF;
    width: 245px;
    margin: 0 auto;
    text-transform: uppercase;
}

.hotel-hero-pretitle {
    font-weight: 600;
    font-size: 20px;
    line-height: calc(24/20);
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-top: 32px;
    margin-bottom: 178px;
    text-transform: capitalize;
}

.hotel-hero-btn-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.hotel-hero-btn {
    width: fit-content;
    padding: 12px 22px;
    background: #00000066;
    border: 2px solid #FFFFFF;
    border-radius: 25px;

    font-weight: 700;
    font-size: 16px;
    line-height: calc(20/16);
    letter-spacing: 0.02em;
    color: #F3C653;
}

@media screen and (min-width: 414px) {
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .header-hotel {
            background-image: 
                linear-gradient(#000000a6, #000000a6), 
                url(../../images/hotel-hero/room-mob@2x.webp);
        }
    }

    .header-hotel-container {
        padding-inline: 15px;
        width: 414px;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
    }

    .header-hotel-tel {
        width: 24px;
    }

    .hotel-hero-title {
        font-size: 96px;
        width: 303px;
    }
}

@media screen and (min-width: 1024px) {
    .header-hotel {
        padding-block: 30px;
        height: 720px;
        background-image:         
            linear-gradient(#000000a6, #000000a6), 
            url(../../images/hotel-hero/room-tab.webp);
    }

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .header-hotel {
            background-image:         
            linear-gradient(#000000a6, #000000a6), 
            url(../../images/hotel-hero/room-tab@2x.webp);
        }
    }

    .header-hotel-container {
        padding-inline: 47px;
        width: 1024px;
        height: 40px;
        align-items: center;
    }

    .header-hotel-logo {
        font-size: 40px;
        line-height: calc(43/40);
        width: 127px;
        height: 43px;
    } 

    .header-hotel-menu {
        gap: 72px;
    }

    .header-hotel-item {
        gap: 32px;
    }

    .header-hotel-nav {
        margin-bottom: 0px;
    }

    .header-hotel-nav-link-title {
        font-size: 20px;
        line-height: calc(24/20);
    }

    .header-hotel-tel {
        padding: 7px;
        gap: 4px;
        border: 1px solid var(--social-icon-color);
        border-radius: 2px;
        width: auto;
        height: auto;
    }

    .header-hotel-tel-numb {
        display: contents;
    }

    .header-hotel-address-wrap {
        width: auto;
        padding: 8px;
        font-size: 16px;
        line-height: calc(20/16);
        letter-spacing: 0.01em;
        position: absolute;
        top: 570px;
        left: 47px;
    }

    .header-hotel-address-link {
        gap: 10px;
    }

    .header-hotel-soc-list {
        left: 47px;
        top: 651px;
    }

    .hotel-hero-container {
        padding-inline: 47px;
        padding-top: 151px;
        width: 1024px;
    }

    .hotel-hero-title {
        width: 404px;
        font-size: 128px;
        line-height: calc(138/128);
    }

    .hotel-hero-pretitle {
        margin-bottom: 226px;
    }

    .hotel-hero-btn-wrap {
        flex-direction: row;
        gap: 40px;
        justify-content: flex-end;
    }
}

@media screen and (min-width: 1280px) {
    .header-hotel {
        background-image:         
        linear-gradient(#000000a6, #000000a6), 
        url(../../images/hotel-hero/room-desk.webp);
    }

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .header-hotel {
            background-image:         
            linear-gradient(#000000a6, #000000a6), 
            url(../../images/hotel-hero/room-desk@2x.webp);
        }
    }

    .header-hotel-container {
        padding-inline: 85px;
        width: 1280px;
    }

    .header-hotel-wrap {
        flex-direction: row;
        gap: 140px;
    }

    .header-hotel-address-wrap {
        top: 570px;
        left: 85px;
    }

    .header-hotel-soc-list {
        display: flex;
        align-items: center;
        gap: 20px;
        position: static;
    }

    .hotel-hero-container {
        padding-inline: 85px;
        padding-top: 134px;
        width: 1280px;
    }

    .hotel-hero-title {
        width: 404px;
        font-size: 128px;
        line-height: calc(138/128);
    }

    .hotel-hero-pretitle {
        margin-bottom: 249px;
    }

    .hotel-hero-btn-wrap {
        flex-direction: row;
        gap: 40px;
        justify-content: flex-end;
    }
    
    .hotel-hero-btn {
        padding-inline: 31px;
    }
}