/* Стили для модальных окон */

.modal {
    /* Скрываем окна  */
    opacity: 0;
    visibility: hidden;
    
    /*  Установаем ширину окна  */
    width: 95%;
    min-height: 668px;

    /*  Центрируем и задаем z-index */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30; /* Должен быть выше чем у подложки*/
    
    /*  Побочные стили   */
    background: #FFFDEE;
    border: 1px solid #F3C653;
    box-shadow: 
        0px 1px 1px rgba(0, 0, 0, 0.14), 
        0px 1px 3px rgba(0, 0, 0, 0.12), 
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding: 60px 15px;
    transition: var(--transit);
}

/* Стили для активных классов подложки и окна */

.modal.active {
    opacity: 1;
    visibility: visible;
}

/* Стили для кнопки закрытия */

.book-desk-modal-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 16px;
    right: 16px;
}
.book-desk-modal-close-btn:focus {
    outline: auto;
}
.book-desk-modal-close-btn-icon {
    width: 24px;
    height: 24px;
}
.book-desk-modal-txt {
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28/24);
    letter-spacing: 0.05em;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}
/* ---------------------------- MODAL FORM ---------------------------- */
.book-desk-contact-form {
    width: 100%;
    margin: 0 auto;
}
.book-desk-contact-form-field {
    display: grid;
    margin-bottom: 26px;
}
.book-desk-contact-form-input {
    width: 100%;
    height: 54px;
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 15px;
    line-height: calc(23/20);
    letter-spacing: 0.05em;
    color: #808080;
    padding: 8px 16px;
    background-color: inherit;
    border: 1px solid #C79002;
    border-radius: 2px;
    margin-bottom: 8px;
}
.date-picker::-webkit-calendar-picker-indicator {
    background-image: url(/images/icons/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px 24px;
}
.book-desk-select-wrap {
    margin-bottom: 20px;
}
.book-desk-select-field {
    width: 100%;
    height: 54px;
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 15px;
    line-height: calc(23/20);
    letter-spacing: 0.05em;
    color: #808080;
    padding: 8px 16px;
    background-color: inherit;
    border: 1px solid #C79002;
    border-radius: 2px;
    transition: 
        border-color 250ms var(--transition-stand);
    margin-bottom: 8px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(/images/icons/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right 12px center;
}
.book-desk-contact-form-input-txt {
    text-align: justify;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(17/14);
    letter-spacing: 0.02em;
    color: #C79002;
    padding-left: 12px;
}
.book-desk-date-form-input-txt {
    text-align: justify;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(20/16);
    letter-spacing: 0.02em;
    color: #C79002;
    padding-left: 12px;
}
.book-desk-contact-form-btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.book-desk-contact-form-btn {
    text-transform: uppercase;
    padding: 20px 22px;
    width: 100%;
    min-height: 64px;

    background: #000000;
    border: 1px solid var(--accent-color);
    border-radius: 2px;
    cursor: pointer;

    font-weight: 500;
    font-size: 20px;
    line-height: calc(24/20);
    letter-spacing: 0.04em;
    color: var(--white-color);
    transition: 
        background var(--transit),
        color var(--transit);
}
.book-desk-contact-form-btn:hover,
.book-desk-contact-form-btn:focus {
    background: var(--accent-color);
    color: #000000; 
}

/* ---------------------------- MEDIA ---------------------------- */

@media screen and (min-width: 414px) {
    .modal {
        width: 414px;
    }
    .book-desk-contact-form-input {
        font-size: 20px;
    }
    .book-desk-select-field {
        font-size: 20px;
        background-position: right 17px center;
    }
}
@media screen and (min-width: 1024px) {
    .modal {
        width: 712px;
        min-height: 500px;
        padding: 60px;
        z-index: 1000;
    }
    .book-desk-modal-txt {
        font-size: 40px;
        line-height: calc(46/40);
    }
    .book-desk-contact-form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
        height: 212px;
    }
    .book-desk-contact-form-field {
        margin-bottom: 0px;
    }
    .book-desk-contact-form-field:nth-child(-n+1) {
        margin-bottom: 28px;
    }
    .book-desk-contact-form-input {
        width: 288px;
        height: 64px;
        padding: 18px 12px;
        font-size: 24px;
        line-height: calc(28/24);
    }
    .book-desk-select-field {
        width: 288px;
        height: 64px;
        padding: 18px 12px;
        font-size: 24px;
        line-height: calc(28/24);
    }
    .book-desk-select-wrap {
        display: flex;
        flex-direction: column;
        margin-bottom: 28px;
    }
    .book-desk-contact-form-input-txt {
        font-size: 16px;
        line-height: calc(20/16);
    }
    .book-desk-contact-form-btn-wrap {
        margin-top: 40px;
    }
}