/* Стили для модальных окон */

.modal {
    /* Скрываем окна  */
    opacity: 0;
    visibility: hidden;
    
    /*  Установаем ширину окна  */
    width: 95%;
    min-height: 400px;

    /*  Центрируем и задаем z-index */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30; /* Должен быть выше чем у подложки*/
    
    /*  Побочные стили   */
    background: #FFFDEE;
    border: 1px solid #F3C653;
    box-shadow: 
        0px 1px 1px rgba(0, 0, 0, 0.14), 
        0px 1px 3px rgba(0, 0, 0, 0.12), 
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding: 45px 15px;
    transition: var(--transit);
}

/* Стили для активных классов подложки и окна */

.modal.active {
    opacity: 1;
    visibility: visible;
}

/* Стили для кнопки закрытия */

.book-room-modal-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 16px;
    right: 16px;
}
.book-room-modal-close-btn:focus {
    outline: auto;
}
.book-room-modal-close-btn-icon {
    width: 24px;
    height: 24px;
}
.book-room-modal-txt {
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 17px;
    line-height: calc(28/24);
    letter-spacing: 0.05em;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}
/* ---------------------------- MODAL FORM ---------------------------- */
.book-room-contact-form {
    width: 100%;
    margin: 0 auto;
}
.book-room-contact-form-field {
    display: grid;
    margin-bottom: 26px;
}
.book-room-contact-form-input {
    width: 100%;
    height: 35px;
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 15px;
    line-height: calc(23/20);
    letter-spacing: 0.05em;
    color: #808080;
    padding: 8px 16px;
    background-color: inherit;
    border: 1px solid #C79002;
    border-radius: 2px;
    margin-bottom: 8px;
}
.date-picker::-webkit-calendar-picker-indicator {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.45407 7.93918C2.73536 7.65797 3.11683 7.5 3.51457 7.5C3.91232 7.5 4.29378 7.65797 4.57507 7.93918L12.0001 15.3642L19.4251 7.93918C19.708 7.66594 20.0869 7.51475 20.4802 7.51817C20.8735 7.52159 21.2497 7.67934 21.5278 7.95745C21.8059 8.23556 21.9637 8.61178 21.9671 9.00508C21.9705 9.39837 21.8193 9.77728 21.5461 10.0602L13.0606 18.5457C12.7793 18.8269 12.3978 18.9849 12.0001 18.9849C11.6023 18.9849 11.2209 18.8269 10.9396 18.5457L2.45407 10.0602C2.17287 9.77889 2.01489 9.39743 2.01489 8.99968C2.01489 8.60193 2.17287 8.22047 2.45407 7.93918Z' fill='%23C79002'/%3E%3C/svg%3E");    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px 24px;
}
.book-room-select-wrap {
    margin-bottom: 20px;
}
.book-room-select-field {
    width: 100%;
    height: 35px;
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 15px;
    line-height: calc(23/20);
    letter-spacing: 0.05em;
    color: #808080;
    padding: 8px 16px;
    background-color: inherit;
    border: 1px solid #C79002;
    border-radius: 2px;
    transition: 
        border-color 250ms var(--transition-stand);
    margin-bottom: 8px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.45407 7.93918C2.73536 7.65797 3.11683 7.5 3.51457 7.5C3.91232 7.5 4.29378 7.65797 4.57507 7.93918L12.0001 15.3642L19.4251 7.93918C19.708 7.66594 20.0869 7.51475 20.4802 7.51817C20.8735 7.52159 21.2497 7.67934 21.5278 7.95745C21.8059 8.23556 21.9637 8.61178 21.9671 9.00508C21.9705 9.39837 21.8193 9.77728 21.5461 10.0602L13.0606 18.5457C12.7793 18.8269 12.3978 18.9849 12.0001 18.9849C11.6023 18.9849 11.2209 18.8269 10.9396 18.5457L2.45407 10.0602C2.17287 9.77889 2.01489 9.39743 2.01489 8.99968C2.01489 8.60193 2.17287 8.22047 2.45407 7.93918Z' fill='%23C79002'/%3E%3C/svg%3E");    background-repeat: no-repeat;
    background-position: right 12px center;
}
.book-room-contact-form-input-txt {
    text-align: justify;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(17/14);
    letter-spacing: 0.02em;
    color: #C79002;
    padding-left: 12px;
}
.book-room-date-form-input-txt {
    text-align: justify;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(17/14);
    letter-spacing: 0.02em;
    color: #C79002;
    padding-left: 12px;
}
.book-room-contact-form-btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.book-room-contact-form-btn {
    text-transform: uppercase;
    padding: 20px 22px;
    width: 100%;
    min-height: 35px;

    background: #000000;
    border: 1px solid var(--accent-color);
    border-radius: 2px;
    cursor: pointer;

    font-weight: 500;
    font-size: 14px;
    line-height: calc(24/20);
    letter-spacing: 0.04em;
    color: var(--white-color);
    transition: 
        background var(--transit),
        color var(--transit);
}
.book-room-contact-form-btn:hover,
.book-room-contact-form-btn:focus {
    background: var(--accent-color);
    color: #000000; 
}

/* ---------------------------- MEDIA  ---------------------------- */

@media screen and (min-width: 414px) {
    .modal {
        width: 414px;
        padding: 60px 15px;
    }
    .book-room-modal-txt {
        font-size: 24px;
    }
    .book-room-contact-form-input {
        font-size: 20px;
        height: 54px;
    }
    .book-room-select-field {
        font-size: 20px;
        height: 54px;
        background-position: right 17px center;
    }
    .book-room-contact-form-btn {
        min-height: 64px;
        font-size: 20px;
    }

}
@media screen and (min-width: 1024px) {
    .modal {
        width: 712px;
        min-height: 500px;
        padding: 60px;
        z-index: 1000;
    }
    .book-room-modal-txt {
        font-size: 40px;
        line-height: calc(46/40);
    }
    .book-room-contact-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 332px;
    }
    .book-room-contact-form-field {
        margin-bottom: 0px;
    }
    .book-room-contact-form-field:nth-child(-n+2) {
        margin-bottom: 28px;
    }
    .book-room-contact-form-input {
        width: 288px;
        height: 64px;
        padding: 18px 12px;
        font-size: 24px;
        line-height: calc(28/24);
    }
    .book-room-contact-form-input-txt {
        font-size: 16px;
        line-height: calc(20/16);
    }
    .book-room-date-form-input-txt {
        font-size: 16px;
        line-height: calc(20/16);
    }
    .book-room-select-field {
        width: 288px;
        height: 64px;
        padding: 18px 12px;
        font-size: 24px;
        line-height: calc(28/24);
    }
    .book-room-select-wrap {
        display: flex;
        flex-direction: column;
        align-items: end;
        width: 100%;
        margin-bottom: 28px;
    }
    .book-room-select-wrap > .book-room-contact-form-input-txt {
        padding-right: 120px;
    }
    .book-room-contact-form-btn-wrap {
        margin-top: 40px;
    }
}