.kitchen {
   padding: 15px 0 20px;
   background-color: var(--background-color);
}

.kitchen-top-wrapper {
   display: flex;
   margin-bottom: 32px;
   flex-wrap: wrap;
   flex-direction: column;
}

.kitchen-top-inner {
   margin-right: 25px;
}

.kitchen-pretitle {
   font-family: 'Times New Roman', serif;
   font-size: 20px;
   line-height: 1.15;
   color: var(--pre-title-color);
   margin-bottom: 12px;
}

.kitchen-title {
   font-family: 'FilmP3', sans-serif;
   font-weight: 700;
   font-size: 40px;
   line-height: 1.08;
   letter-spacing: 0.3em;
   color: var(--title-color);
   text-transform: uppercase;
   margin-bottom: 12px;
}

.kitchen-top-text {
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   max-width: 260px;
   margin-bottom: 28px;
}

.kitchen-top-img {
   background-color: var(--bg-img-color);
   box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
   border-radius: 2px;
   align-self: flex-end;
}

.kitchen-bottom-wrapper {
   display: flex;
   margin-bottom: 22px;
   align-items: center;
}

.kitchen-bottom-img {
   background-color: var(--bg-img-color);
   box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
   border-radius: 2px;
   margin-right: 20px;
}

.kitchen-bottom-text {
   font-weight: 600;
   color: var(--brown-color);
   max-width: 163px;
}

.kitchen-slider {
   position: relative;
   height: 317px;
}

.kitchen-slider-wrapper {
   display: flex;
   gap: 24px;
   position: absolute;
   overflow: hidden;
   /* left: 69px; */
}

.kitchen-slide {
   background-color: var(--bg-img-color);
   border-radius: 2px;
   width: 245px;
   object-fit: cover;
   box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
}

.kitchen-button-arrows {
   display: flex;
   cursor: pointer;
   justify-content: flex-end;
   margin-top: 20px;
   gap: 32px;
   position: absolute;
   bottom: 16px;
   right: 0;
}

@media (min-width: 414px) {
   .kitchen > .container {
      max-width: 514px;
   }

   .kitchen-top-wrapper {
      flex-wrap: wrap;
   }

   .kitchen-bottom-wrapper {
      margin-top: 0;
      margin-bottom: 32px;
   }

   .kitchen-bottom-img {
      margin-bottom: 0;
   }

   .kitchen-swiper {
      position: absolute;
      overflow: hidden;
      width: 324px;
   }

   .kitchen-button-arrows {
      padding-right: 15px;
      overflow: hidden;
   }
}

@media (min-width: 1024px) {
   .kitchen > .container {
      max-width: 977px;
   }

   .kitchen {
      padding: 0 0 273px;
   }

   .kitchen-pretitle {
      font-size: 32px;
      margin-bottom: 4px;
   }

   .kitchen-title {
      font-size: 64px;
      margin-bottom: 24px;
   }

   .kitchen-top-text {
      font-size: 16px;
      max-width: 440px;
   }

   .kitchen-top-wrapper {
      flex-direction: row;
      align-items: center;
      margin-bottom: 0;
      position: relative;
      height: 492px;
   }

   .kitchen-top-img {
      position: absolute;
      right: 64px;
      top: -32px;
   }

   .kitchen-bottom-wrapper {
      position: relative;
      width: 100%;
      height: 360px;
      margin-bottom: 0;
   }

   .kitchen-bottom-img {
      margin-right: 48px;
      margin-bottom: 0;
      position: absolute;
      top: -16px;
   }

   .kitchen-bottom-text {
      max-width: 312px;
      font-size: 16px;
      margin-left: 400px;
   }

   .kitchen-slider {
      position: absolute;
      right: 0;
      bottom: -32%;
      height: 326px;
      width: 548px;
   }

   .kitchen-swiper {
      right: 0;
      width: 428px;
      top: 0;
   }

   .kitchen-button-arrows {
      padding-right: 0;
      /* position: absolute; */
      bottom: 0;
      right: 0;
      z-index: 10;
   }
}

@media (min-width: 1280px) {
   .kitchen {
      padding: 0 0 273px;
   }

   .kitchen > .container {
      max-width: 1140px;
   }

   .kitchen-top-inner {
      margin-right: 40px;
   }

   .kitchen-top-text {
      max-width: 518px;
   }

   .kitchen-top-wrapper {
      height: 541px;
   }

   .kitchen-top-img {
      right: 93px;
   }

   .kitchen-bottom-wrapper {
      height: 365px;
      margin-bottom: 0;
   }

   .kitchen-bottom-text {
      margin-left: 44.5%;
   }

   .kitchen-bottom-img {
      top: -65px;
   }

   .kitchen-slider {
      height: 358px;
   }
   .kitchen-slide {
      width: 254px;
   }
}