.room-amenites-containes {
  width: 100%;
 } 

.amenites-title {
  font-family: 'Times New Roman';
  font-weight: 400;
  font-size: 32px;
  line-height: 1.15;
  padding-top: 32px;
  margin-bottom: 16px;
  color: var(--black-color);
}
.amenites-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  margin-top: 16px;
  
  color: var(--text-color);
}
.amenites-wrap {
}
.amenites-list {
}
.amenites-subtitle {
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  margin-top: 32px;

  color: var(--black-color);
}
.amenites-button {
    display: flex;
    align-items: center;
    justify-content: center;

  width: 384px;
  height: 64px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  
  margin-top: 32px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-right: 43px;
  padding-bottom: 20px;
  padding-left: 43px;

  color: var(--white-color);

  background: var(--black-color);
  
  border: 1px solid;
  border-color: var(--accent-color);
  border-radius: 25px;
}
.amenites-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
    
  color: var(--brown-color);
}
.amenites-arrow-icon {
  fill: var(--brown-color);
}

@media screen and (min-width: 414px) {
  .room-amenites-containrs {
    width: 414px;
  }
  
}

@media screen and (min-width: 1024px) {
  .room-amenites-containrs {
    width: 1024px;
  }
}

@media screen and (min-width: 1280px) {
   .room-amenites-containrs {
    width: 1280px;
  }
}
