<section class="about-hotel">
  <div class="container">
    <p class="about-hotel-pre-title">Amet minim mollit non</p>
    <p class="about-hotel-title">MIMIHO</p>
    <h2 class="hidden">MIMIHO</h2>
    <p class="about-hotel-after-title">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>

    <div class="about-hotel-img-wrap about-hotel-img">
      <picture>
        <source
          srcset="
            ./images/about-hotel/hotel-room.jpg    1x,
            ./images/about-hotel/hotel-room_2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/about-hotel/hotel-room_tab.jpg    1x,
            ./images/about-hotel/hotel-room_tab_2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/about-hotel/hotel-room_mob.jpg    1x,
            ./images/about-hotel/hotel-room_mob_2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img src="./images/about-hotel/hotel-room.jpg" alt="bed_room" />
      </picture>
    </div>

    <div class="about-hotel-img-text">
      <p class="about-hotel-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <div class="about-hotel-img-wrap inner">
        <picture>
          <source
            srcset="
              ./images/about-hotel/hotel_holl.jpg    1x,
              ./images/about-hotel/hotel_holl_2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/about-hotel/hotel_holl_tab.jpg    1x,
              ./images/about-hotel/hotel_holl_tab_2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/about-hotel/hotel_holl_mob.jpg    1x,
              ./images/about-hotel/hotel_holl_mob_2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img src="./images/img/hotel_holl.jpg" alt="hotel_holl" />
        </picture>
      </div>
    </div>
    <div class="about-hotel-slide">
      <div class="about-hotel-wrap">
        <picture>
          <source
            srcset="
              ./images/about-hotel/hotel-registration.jpg    1x,
              ./images/about-hotel/hotel-registration_2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/about-hotel/hotel-registration_tab.jpg    1x,
              ./images/about-hotel/hotel-registration_tab_2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/about-hotel/hotel-registration_mob.jpg    1x,
              ./images/about-hotel/hotel-registration_mob_2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            width="245"
            height="245"
            src="./images/img/hotel-registration.jpg"
            alt="hotel_registration"
          />
        </picture>
      </div>
      <div class="about-hotel-wrap">
        <picture>
          <source
            srcset="
              ./images/about-hotel/bedding_towels.jpg    1x,
              ./images/about-hotel/bedding_towels_2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/about-hotel/bedding_towels_tab.jpg    1x,
              ./images/about-hotel/bedding_towels_tab_2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/about-hotel/bedding_towels_mob.jpg    1x,
              ./images/about-hotel/bedding_towels_mob_2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            width="245"
            height="245"
            src="./images/about-hotel/bedding_towels.jpg"
            alt="hotel_registration"
          />
        </picture>
      </div>
    </div>
    <div class="about-hotel-btn-wrap">
      <button type="button" class="about-hotel-btn btn">
        <svg class="about-hotel-icon" width="32" height="32">
          <use href="./images/icon.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button type="button" class="about-hotel-btn btn">
        <svg class="about-hotel-icon" width="32" height="32">
          <use href="./images/icon.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
