<section class="details-hotel">
  <div class="container">
    <p class="details-hotel-pre-title">MIMIHO</p>
    <h2 class="details-hotel-title">Готель</h2>
    <p class="details-hotel-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>
    <div class="details-hotel-wrap">
       <div class="details-hotel-inner">
         <picture>
           <source
             srcset="
               ./images/details-hotel/details-hotel_room.jpg    1x,
               ./images/details-hotel/details-hotel_room_2x.jpg 2x
             "
             media="(min-width: 1280px)"
           />
           <source
             srcset="
               ./images/details-hotel/details-hotel_room_tab.jpg    1x,
               /images/details-hotel/details-hotel_room_tab_2x.jpg 2x
             "
             media="(min-width: 1024px)"
           />
           <source
             srcset="
               ./images/details-hotel/details-hotel_room_mob.jpg    1x,
               ./images/details-hotel/details-hotel_room_mob_2x.jpg 2x
             "
             media="(min-width: 320px)"
           />
           <img src="./images/about-hotel/hotel-room.jpg" alt="bed_room" />
         </picture>
       </div>
       <div class="details-hotel-inner">
         <!-- <picture>
           <source
             srcset="
               /images/details-hotel/details-hotel_eat.jpg    1x,
               /images/details-hotel/details-hotel_eat_2x.jpg 2x
             "
             media="(min-width: 1280px)"
           />
           <source
             srcset="
               /images/details-hotel/details-hotel_eat_tab.jpg    1x,
               /images/details-hotel/details-hotel_eat_tab_2x.jpg 2x
             "
             media="(min-width: 1024px)"
           />
           <source
             srcset="
               /images/details-hotel/details-hotel_eat_mob.jpg    1x,
               /images/details-hotel/details-hotel_eat_mob_2x.jpg 2x
             "
             media="(min-width: 320px)"
           />
           <img src="/images/details-hotel/details-hotel_eat.jpg" alt="bed_room" />
         </picture>
       </div>
       <div class="details-hotel-inner">
         <picture>
           <source
             srcset="
               /images/details-hotel/details-hotel-resept.jpg    1x,
               /images/details-hotel/details-hotel-resept_2x.jpg 2x
             "
             media="(min-width: 1280px)"
           />
           <source
             srcset="
               /images/details-hotel/details-hotel-resept.jpg    1x,
               /images/details-hotel/details-hotel-resept_2x.jpg 2x
             "
             media="(min-width: 1024px)"
           />
           <source
             srcset="
               /images/details-hotel/details-hotel-resept.jpg    1x,
               /images/details-hotel/details-hotel-resept_2x.jpg 2x
             "
             media="(min-width: 320px)"
           />
           <img
             src="/images/details-hotel/details-hotel-resept.jpg"
             alt="bed_room"
           />
         </picture> -->
       </div>
    </div >
    <ul class="details-hotel-list">
      <li class="details-hotel-item">
        <button type="button" class="details-hotel-control">
          <svg class="details-hotel-icon" width="32" height="32">
            <use href="./images/icon.svg#icon-arrow-left"></use>
          </svg>
        </button>
      </li>
      <li class="details-hotel-item">
        <button type="button" class="details-hotel-control">
          <svg class="details-hotel-icon" width="32" height="32">
            <use href="./images/icon.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
    <div class="details-hotel-btn-wrap">
      <button class="details-hotel_btn js-open-modal" data-modal="2">Забронювати номер</button>
    
    <div class="details-hotel-link-wrap"><a href="#" class="details-hotel-link js-open-modal" data-modal="3">Переглянути ціни</a></div>
    </div>
  </div>
</section>
