<section class="details-rest">
  <div class="container">
    <p class="details-rest-pre">MIMIHO</p>
    <h2 class="detailst-rest-title">Ресторан</h2>
    <p class="details-rest-after">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>
    <div class="wrap-img-rest">
      <img
        src="./images/detailsof-restaurant/details-rest-img-1.jpg"
        alt="photo of dishes"
      />
    </div>
    <ul class="details-rest-list">
      <li class="details-rest-item">
        <button type="button" class="details-rest-arrow">
          <svg class="details-rest-icon" width="32px" height="32px">
            <use href="./images/icon.svg#icon-arrow-left"></use>
          </svg>
        </button>
      </li>
      <li class="details-rest-item">
        <button type="button" class="details-rest-arrow">
          <svg class="details-rest-icon" width="32px" height="32px">
            <use href="./images/icon.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
    <div class="wrap-btn-rest">
      <button class="details-rest-btn" type="button">Забронювати столик</button>
      <div class="wrap-link-rest">
        <a class="details-rest-link" href="">Переглянути меню</a>
      </div>
    </div>
  </div>
</section>
