<section class="details-rest">
  <div class="container">
    <p class="details-rest-pre">MIMIHO</p>
    <h2 class="detailst-rest-title">Ресторан</h2>
    <p class="details-rest-after">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>
    <div class="details-rest-swiper">
      <div class="swiper details-rest-swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="details-rest-swiper-img">
              <picture>
                <source
                  srcset="
                    ./images/detailsof-restaurant/details-rest-img-1.jpg    1x,
                    ./images/detailsof-restaurant/details-rest-img-1-2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./images/detailsof-restaurant/details-rest-img-1-mob.jpg    1x,
                    ./images/detailsof-restaurant/details-rest-img-1-mob-2x.jpg 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  src="./images/detailsof-restaurant/details-rest-img-1.jpg"
                  alt="photo of dishes"
                />
              </picture>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="details-rest-swiper-img">
              <picture>
                <source
                  srcset="
                    ./images/detailsof-restaurant/details-rest-img-1.jpg    1x,
                    ./images/detailsof-restaurant/details-rest-img-1-2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./images/detailsof-restaurant/details-rest-img-1-mob.jpg    1x,
                    ./images/detailsof-restaurant/details-rest-img-1-mob-2x.jpg 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  src="./images/detailsof-restaurant/details-rest-img-1.jpg"
                  alt="photo of dishes"
                />
              </picture>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="details-rest-swiper-img">
              <picture>
                <source
                  srcset="
                    ./images/detailsof-restaurant/details-rest-img-1.jpg    1x,
                    ./images/detailsof-restaurant/details-rest-img-1-2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./images/detailsof-restaurant/details-rest-img-1-mob.jpg    1x,
                    ./images/detailsof-restaurant/details-rest-img-1-mob-2x.jpg 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  src="./images/detailsof-restaurant/details-rest-img-1.jpg"
                  alt="photo of dishes"
                />
              </picture>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="details-rest-swiper-img">
              <picture>
                <source
                  srcset="
                    ./images/detailsof-restaurant/details-rest-img-1.jpg    1x,
                    ./images/detailsof-restaurant/details-rest-img-1-2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./images/detailsof-restaurant/details-rest-img-1-mob.jpg    1x,
                    ./images/detailsof-restaurant/details-rest-img-1-mob-2x.jpg 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  src="./images/detailsof-restaurant/details-rest-img-1.jpg"
                  alt="photo of dishes"
                />
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="details-rest-list">
      <li class="details-rest-item">
        <button type="button" class="rest-arrow-left">
          <svg class="details-rest-icon" width="32px" height="32px">
            <use href="./images/icon.svg#icon-arrow-left"></use>
          </svg>
        </button>
      </li>
      <li class="details-rest-item">
        <button type="button" class="rest-arrow-right">
          <svg class="details-rest-icon" width="32px" height="32px">
            <use href="./images/icon.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
    <div class="wrap-btn-rest">
      <button
        class="details-rest-btn js-open-modal"
        type="button"
        data-modal="1"
      >
        Забронювати столик
      </button>
      <div class="wrap-link-rest">
        <a class="details-rest-link" href="./restaurant.html">Переглянути меню</a>
      </div>
    </div>
  </div>
</section>
