<link rel="stylesheet" href="../css/partials/footer.css" />

<footer class="footer">
    <div class="container footer-box">
       <div class="logotype">
            <a href="#" class="footer-title"><h3>Міміно</h3></a>
            </div>
            <div class="footer-nav">
                <ul class="footer-nav-list">
                    <li><a href="#" class="footer-nav-link link current">Головна</a></li>
                    <li><a href="./portfolio.html" class="footer-nav-link link">Ресторан</a></li>
                    <li><a href="./contacts.html" class="footer-nav-link link">Готель</a></li>
                    </ul>
            </div>
        <div class="social-footer">
           <ul class="social-list">
            <li class="social-item"><a href="http://" target="_blank" rel="noopener noreferrer" class="social-link" target="_blank"><svg class="footer-icon" width="24" height="24"><use href="./images/icons.svg#icon-instagram"></use></svg></a>
            </li>   
            <li class="social-item"><a href="http://" target="_blank" rel="noopener noreferrer" class="social-link" target="_blank"><svg class="footer-icon" width="24" height="24"><use href="./images/icons.svg#icon-twitter"></use></svg></a>
            </li> 
            <li class="social-item"><a href="http://" target="_blank" rel="noopener noreferrer" class="social-link" target="_blank"><svg class="footer-icon" width="24" height="24"><use href="./images/icons.svg#icon-facebook"></use></svg></a>
            </li> 
             
        </ul>
        </div>
        <div class="footer-button">
          <ul class="footer-button-list">
             <li class="footer-button-link">
                <a href="http://" target="_blank" rel="noopener noreferrer"><button type="button" class="social-button">Telegram
            <svg class="footer-icon" width="24" height="24"><use href="./images/icons.svg#icon-Frame-3"></use></svg>
            </button></a></li>
            <li class="footer-button-link">
                <a href="http://" target="_blank" rel="noopener noreferrer"><button type="button" class="social-button">Facebook
              <svg class="footer-icon" width="20" height="20"><use href="./images/icons.svg#icon-Frame-3"></use></svg>
              </button></a></li>
             <li class="footer-button-link">
                <a href="http://" target="_blank" rel="noopener noreferrer"><button type="button" class="social-button">Instagram
                <svg class="footer-icon" width="24" height="20"><use href="./images/icons.svg#icon-Frame-3"></use></svg>
                </button></a></li>
          </ul>
           
          </div> 
    </div>
        
      </footer>