<footer class="footer">
  <div class="container footer-container">
    <div class="footer-box">
      <a href="#" class="footer-title"><h3>MIMIHO</h3></a>

      <div class="footer-nav">
        <ul class="footer-nav-list">
          <li>
            <a href="./index.html" class="footer-nav-link">Головна</a>
          </li>
          <li>
            <a href="./restaurant.html" class="footer-nav-link">Ресторан</a>
          </li>
          <li>
            <a href="./hotel.html" class="footer-nav-link">Готель</a>
          </li>
        </ul>

        <div class="social-footer">
          <ul class="social-list">
            <li class="social-item">
              <a
                href="http://"
                target="_blank"
                rel="noopener noreferrer"
                class="social-link"
                target="_blank"
              >
                <svg class="social-icon" width="24" height="24">
                  <use href="./images/icon.svg#icon-instagram"></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a
                href="http://"
                target="_blank"
                rel="noopener noreferrer"
                class="social-link"
                target="_blank"
              >
                <svg class="social-icon" width="24" height="24">
                  <use href="./images/icon.svg#icon-facebook"></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a
                href="http://"
                target="_blank"
                rel="noopener noreferrer"
                class="social-link"
                target="_blank"
              >
                <svg class="social-icon" width="24" height="24">
                  <use href="./images/icon.svg#icon-telegram"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-link">
        <ul class="footer-link-list">
          <li class="footer-social">
            <a
              class="social-link"
              href="http://"
              target="_blank"
              rel="noopener noreferrer"
              >Telegram
              <svg class="footer-icon" width="24" height="24">
                <use href="./images/icon.svg#icon-telegram"></use></svg
            ></a>
          </li>
          <li class="footer-social">
            <a
              class="social-link"
              href="http://"
              target="_blank"
              rel="noopener noreferrer"
              >Facebook
              <svg class="footer-icon" width="24" height="24">
                <use href="./images/icon.svg#icon-facebook"></use></svg
            ></a>
          </li>
          <li class="footer-social">
            <a
              class="social-link"
              href="http://"
              target="_blank"
              rel="noopener noreferrer"
              >Instagram
              <svg class="footer-icon" width="24" height="24">
                <use href="./images/icon.svg#icon-instagram"></use></svg
            ></a>
            </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
