<section class="triple-room-section">
  <div class="triple-room-container">
    <div class="title-thumb-triple">
      <h4 class="section-title-triple">Amet minim mollit non</h4>
      <div class="section-logo-triple">MIMINO</div>
    </div>
    <div class="theme-thumb-triple">
      <h3 class="section-theme-triple">ТРЬОХМІСНИЙ НОМЕР </h3>
      <p class="section-description-triple">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div> 
    <div class="triple-picture-wrap section-picture-img">
      <picture>
        <source
           srcset="
             ./images/about-hotel/hotel-room_mob.jpg 1x,
             ./images/about-hotel/hotel-room_mob_2x.jpg  2x
           "
           media="(max-width: 1023px)"
           type="image/jpeg"
           />
           <source
           srcset=" 
           ./images/about-hotel/hotel-room_tab.jpg.jpg 1x,
           ./images/about-hotel/hotel-room_tab_2x.jpg 2x
           "
           media="(max-width: 1279px)"
           type="image/jpeg"
           />
           <source
           srcset=" 
           ./images/about-hotel/hotel-room.jpg 1x,
           ./images/about-hotel/hotel-room_2x.jpg 2x
           "
           media="(min-width: 1280px)"
           type="image/jpeg"
           />

           <img src="./images/about-hotel/hotel-room_mob.jpg" alt="Трьохмісний номер" width="100%">    
       </picture>     
       </picture> 
      <picture></picture>
    </div>
    <div class="slider-button-flex clockwise-flex">
    <div class="triple-slider-flex">
    <div class="section-slider-triple">
      <div class="slider-picture-wrapper">
        <picture>
          <source
          srcset="
             ./images/rooms/mobile_slider_basin.jpg 1x,
             ./images/rooms/mobile_slider_basin@2x.jpg  2x
           "
           media="(max-width: 1023px)"
           type="image/jpeg"
           />
           <source
           srcset=" 
           ./images/rooms/tablet_slider_basin.jpg 1x,
           ./images/rooms/mobile_slider_basin@2x.jpg 2x
           "
           media="(max-width: 1279px)"
           type="image/jpeg"
           />
           <source
           srcset=" 
           ./images/rooms/desctop_slider_basin.jpg 1x,
           ./images/rooms/desctop_slider_basin@2x.jpg 2x
           "
           media="(min-width: 1280px)"
           type="image/jpeg"
           />

           <img src="./images/rooms/mobile_slider_basin.jpg" alt="умивальник" width="100%">
        </picture>
      </div>
      <div class="slider-picture-wrapper">
        <picture>
          <source
          srcset="
             ./images/rooms/mobile_slider_cup.jpg 1x,
             ./images/rooms/mobile_slider_cup@2x.jpg  2x
           "
           media="(max-width: 1023px)"
           type="image/jpeg"
           />
           <source
           srcset=" 
           ./images/rooms/tablet_slider_cup.jpg 1x,
           ./images/rooms/tablet_slider_cup2x.jpg 2x
           "
           media="(max-width: 1279px)"
           type="image/jpeg"
           />
           <source
           srcset=" 
           ./images/rooms/desctop_slider_cup.jpg 1x,
           ./images/rooms/desctop_slider_cup@2x.jpg 2x
           "
           media="(min-width: 1280px)"
           type="image/jpeg"
           />

           <img src="./images/rooms/mobile_slider_cup.jpg" alt="Чашка з кавою" width="100%">
        </picture>
      </div>
  
    </div>
    <ul class="slider-arrows-triple">
      <li class="about-rest-item">
        <button type="button" class="about-rest-bth">
          <svg class="about-rest-icon" width="32px" height="32px">
            <use href="./images/icon.svg#icon-arrow-left"></use>
          </svg>
        </button>
      </li>
      <li class="about-rest-item">
        <button type="button" class="about-rest-bth">
          <svg class="about-rest-icon" width="32px" height="32px">
            <use href="./images/icon.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
    <div class="button-list">
      <ul>
        <li>
          <button type="button" class="button_one">Детальніше</button>
        </li>
        <li>
          <button type="button" class="button_two">
            Переглянути ціни
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>  
</section>
