<section class=" hero">
    <h1>MІMINO</h1>
    <h2>Ресторанно-готельний
       комплекс</h2>
       <p>СМАК ЖИТТЯ 24/7 </p>
       <button type="button">Забронювати столик</button>
       <button type="button">Забронювати номер</button>
       <a href="">Україна, м. Полтава,
           вул. Маршала Бірюзова, 15</a>
           <ul class="hero-link">
               <li class="hero-item">
                   <a href="" clsss="hero-item-link">
                   <svg class="hero-icon"  width="24" height="24">
                       <use href="" ></use>
                   </svg>
                   </a>
               </li>
               <li class="hero-item">
                   <a href="" clsss="hero-item-link">
                       <svg class="hero-icon"  width="24" height="24">
                           <use href=""></use>
                       </svg>
                       </a>
               </li>
               <li class="hero-item">
                   <a href="" clsss="hero-item-link" >
                       <svg class="hero-icon"  width="24" height="24">
                           <use href=""></use>
                       </svg>
                       </a>
               </li>
           </ul>
   </section>