<div class="room-price-backdrop is-hidden" data-modal>
  <div class="room-price-modal">
    <button type="button" class="room-price-modal-close-btn" modal-close>
      <svg class="room-price-modal-close-btn-icon">
        <use href="/images/icon.svg#icon-cross"></use>
      </svg>
    </button>
    <p class="room-price-modal-txt">ціни на номер</p>
    <p class="room-name">Двомісний люкс</p>
    <p class="room-name-txt">Категорія номеру</p>
    <form class="room-price-contact-form">
      <label class="room-price-contact-form-field">
        <input
          type="text"
          class="room-price-contact-form-input"
          placeholder="1"
          name="user_name"
          required
          pattern="[0-9]{,3}"
        />
        <span class="room-price-contact-form-input-txt">Кількість ночей</span>
      </label>
      <label class="room-price-contact-form-field">
        <input
          type="text"
          class="room-price-contact-form-input"
          placeholder="1000"
          name="user_name"
          required
          pattern="^[0-9]{,10}"
        />
        <span class="room-price-contact-form-input-txt">грн</span>
      </label>
    </form>
    <div class="room-price-contact-form-btn-wrap">
      <button type="submit" class="room-price-contact-form-btn" modal-open>
        забронювати номер
      </button>
    </div>
  </div>
</div>
