<div class="backdrop-table is-hidden" data-modal>
  <div class="modal-table">
    <button type="button" class="modal-table-close-btn" data-modal-close>
      <svg class="modal-table-close-btn-icon" width="24" height="24">
        <use href="../images/icon.svg#icon-cross"></use>
      </svg>
    </button>
    <form action="" class="modal-table-form">
      <h3 class="modal-table-title">Забронювати столик</h3>
      <div class="modal-table-form_wrap">
        <div class="modal-table-form__field">
          <input
            id="firstName"
            name="firstName"
            type="text"
            placeholder="Ваше ім’я"
          />
          <label for="firstName" class="label">На кого забронювати номер</label>
        </div>
        <div class="modal-table-form__field">
          <input id="phone" type="text" placeholder="+38 (___) ___-__-__" />
          <label for="phone" class="label">Номер телефону</label>
        </div>
        <div class="modal-table-form__field select">
          <select name="entryData" id="entryData">
            <option value="0">Сьогодні</option>
            <option value="1">Завтра</option>
          </select>
          <label for="entryData" class="label">Дата заїзду</label>
        </div>
        <div class="modal-table-form__field select">
          <select name="outDate" id="outDate">
            <option value="0">Сьогодні</option>
            <option value="1">Завтра</option>
          </select>
          <label for="outDate" class="label"> Дата виїзду </label>
        </div>
        <div class="button-wrap">
          <button type="submit" class="action confirm">
            Оформити бронювання
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
