<div class="modal-table">
    <button type="button" class="modal-table-close-btn"></button>
    <form class="modal-table-form">
        <p>ЗАБРОНЮВАТИ СТОЛИК</p>
        <label class="modal-table-form-file"></label>
        <input type="text" name="user_name" class="modal-table-form-input" placeholder="Ваше ім'я">
        <span class="">На кого забронювати столик?</span>
        <label class="modal-table-form-file"></label>
        <input type="number" name="user_namber" class="modal-table-form-input" placeholder="2">
        <span class="">Столик на яку кількість осіб?</span>
        <label class="modal-table-form-file"></label>
        <input type="tel" name="user_phone" class="modal-table-form-input" placeholder="+38(_ _ _) _ _ _ - _ _ - _ _">
        <span class="">Номер телефону</span>
        <label class="modal-table-form-file"></label>
        <input type="text" name="user_date" class="modal-table-form-input" placeholder="Сьогодні">
        <span class="">На яку дату бронювати?</span>
    </form>
    <button type="submit" class="modal-table-btn">ОФОРМИТИ БРОНЮВАННЯ</button>
</div>