<div class="modal-room">
    <button type="button" class="modal-room-close-btn"></button>
    <form class="modal-room-form">
        <p>ЗАБРОНЮВАТИ НОМЕР</p>
        <label  for= class="modal-room-form-file"></label>
        <input  id= type="text" name="user_name" class="modal-room-form-input" placeholder="Ваше ім'я">
        <span class="">На кого забронювати номер?</span>
        <label class="modal-room-form-file"></label>
        <input type="tel" name="user_phone" class="modal-room-form-input" placeholder="+38(_ _ _) _ _ _ - _ _ - _ _">
        <span class="">Номер телефону</span>
        <label class="modal-room-form-file"></label>
        <div>
        <input type="text" name="user_text" class="modal-room-form-input" placeholder="Двомісний люкс">
        <span class="">Категорія номеру</span>
        <label class="modal-room-form-file"></label>
        <input type="text" name="user_date" class="modal-room-form-input" placeholder="Сьогодні">
        <span class="">Дата заїзду</span>
        <label class="modal-room-form-file"></label>
        <input type="text" name="user_date"  class="modal-room-form-input" placeholder="Сьогодні">
        <span class="">Дата виїзду</span>
        </div>
    </form>
    <button type="submit" class="modal-room-btn">ОФОРМИТИ БРОНЮВАННЯ</button>
</div>