<section class="kitchen">
   <div class="container">
      <div class="kitchen-top-wrapper">
         <div class="kitchen-top-inner">
            <p class="kitchen-pretitle">Amet minim mollit non</p>
            <h2 class="kitchen-title">MIMIHO</h2>

            <p class="kitchen-top-text">
               Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>

         </div>
         
         <img class="kitchen-top-img"
            srcset="./images/kitchen/kitchen-mob-img.jpg, ./images/kitchen/kitchen-mob-imgx2.jpg 2x"
            src="./images/kitchen/kitchen-mob-img.jpg"
            alt="kitchen image"
         />
      </div>
      <div class="kitchen-bottom-wrapper">
         <img class="kitchen-bottom-img"
            srcset="./images/kitchen/meet-mob-img.jpg, ./images/kitchen/meet-mob-imgx2.jpg 2x"
            src="./images/kitchen/meet-mob-img.jpg"
            alt="cooking image">

         <p class="kitchen-bottom-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
         </p>

      </div>
      <div class="kitchen-slider">
         <img src="./images/kitchen/slider-img-1.jpg" alt="img-1">
      </div>

   </div>
</section>