<section class="menu-category" id="menu">
  <div class="container">
    <div class="main-dish">
      <h2 class="menu">МЕНЮ РЕСТОРАНУ</h2>
      <h2>Гарячі страви</h2>
      <div class="menu-item">
        <div class="dish">
          <h3>Борщ з телятини з квасолею</h3>
          <p>
            Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
            помідори, зелень, сметана
          </p>
        </div>
        <div class="dish-details">
          <p class="weight">400 г</p>
          <p class="price">240 грн</p>
        </div>
      </div>
      <div class="menu-item">
        <div class="dish">
          <h3>Суп сирний з куркою</h3>
          <p>
            Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
          </p>
        </div>
        <div class="dish-details">
          <p class="weight">400 г</p>
          <p class="price">200 грн</p>
        </div>
      </div>
      <div class="menu-item">
        <div class="dish">
          <h3>Паста карбонара</h3>
          <p>Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень</p>
        </div>
        <div class="dish-details">
          <p class="weight">350 г</p>
          <p class="price">430 грн</p>
        </div>
      </div>
      <div class="menu-item">
        <div class="dish">
          <h3>Стейк зі свинини</h3>
          <p>
            Свиняча вирізка, спеціі, подається з соусом солодкий чилі та овочами
          </p>
        </div>
        <div class="dish-details">
          <p class="weight">400 г</p>
          <p class="price">500 грн</p>
        </div>
      </div>
      <div class="menu-item">
        <div class="dish">
          <h3>Горбуша в соусі з білого вина</h3>
          <p>Ніжна горбуша, вершковий соус на основі білого вина</p>
        </div>
        <div class="dish-details">
          <p class="weight">400 г</p>
          <p class="price">400 грн</p>
        </div>
      </div>

      <h2>Гарніри та закуски</h2>
      <div class="menu-item">
        <div class="dish">
          <h3>Запечені овочі</h3>
          <p>Кабачок, перець, помідор, баклажан</p>
        </div>
        <div class="dish-details">
          <p class="weight">200 г</p>
          <p class="price">230 грн</p>
        </div>
      </div>
      <div class="menu-item">
        <div class="dish">
          <h3>Картопля фрі</h3>
          <p>Картопля, соус томатний</p>
        </div>
        <div class="dish-details">
          <p class="weight">150 г</p>
          <p class="price">160 грн</p>
        </div>
      </div>
      <div class="menu-item">
        <div class="dish">
          <h3>Картопля по-селянськи</h3>
          <p>Картопля, спеції, соус пікантний</p>
        </div>
        <div class="dish-details">
          <p class="weight">150 г</p>
          <p class="price">160 грн</p>
        </div>
      </div>
      <div class="menu-item">
        <div class="dish">
          <h3>Хрумкі соління з бочки</h3>
          <p>
            Огірок солений, помідор квашений, квашена капуста, морква
            по-корейські
          </p>
        </div>
        <div class="dish-details">
          <p class="weight">250 г</p>
          <p class="price">350 грн</p>
        </div>
      </div>
      <div class="menu-item">
        <div class="dish">
          <h3>Крильця курячі в медовому соусі</h3>
          <p>
            Крильця курячі, гірчично-медовий соус, подається з морквою, селерою
            і соусом блючиз
          </p>
        </div>
        <div class="dish-details">
          <p class="weight">400 г</p>
          <p class="price">420 грн</p>
        </div>
      </div>
    </div>

    <div class="end-dish">
      <h2>Салати</h2>
      <div class="menu-item">
        <div class="dish">
          <h3>Цезар з куркою</h3>
          <p>
            Куряче філе, листя салату, помідори чері, сир пармезан, грінки, соус
            цезар
          </p>
        </div>
        <div class="dish-details">
          <p class="weight">230 г</p>
          <p class="price">450 грн</p>
        </div>
      </div>
      <div class="menu-item">
        <div class="dish">
          <h3>Цезар з креветками</h3>
          <p>
            Тигрові креветки, листя салату, помідори чері, сир пармезан, грінки,
            соус цезар
          </p>
        </div>
        <div class="dish-details">
          <p class="weight">230 г</p>
          <p class="price">300 грн</p>
        </div>
      </div>
      <div class="menu-item">
        <div class="dish">
          <h3>Грецький салат</h3>
          <p>
            Свіжі огірок, помідор, болгарський перець, оливки, сир бринза, листя
            салату, соус
          </p>
        </div>
        <div class="dish-details">
          <p class="weight">230 г</p>
          <p class="price">280 грн</p>
        </div>
      </div>
      <div class="menu-item">
        <div class="dish">
          <h3>М’ясний салат</h3>
          <p>
            Куряче філе або свиняча вирізка, свіжі огірок, помідор, болгарський
            перець, соус ранч
          </p>
        </div>
        <div class="dish-details">
          <p class="weight">230 г</p>
          <p class="price">300 грн</p>
        </div>
      </div>

      <h2>Десерти</h2>
      <div class="menu-item">
        <div class="dish">
          <h3>Торт наполеон</h3>
        </div>
        <div class="dish-details">
          <p class="weight">230 г</p>
          <p class="price">300 грн</p>
        </div>
      </div>
      <div class="menu-item">
        <div class="dish">
          <h3>Торт маковий</h3>
        </div>
        <div class="dish-details">
          <p class="weight">230 г</p>
          <p class="price">300 грн</p>
        </div>
      </div>
      <div class="menu-item">
        <div class="dish">
          <h3>Тірамісу</h3>
        </div>
        <div class="dish-details">
          <p class="weight">120 г</p>
          <p class="price">260 грн</p>
        </div>
      </div>

      <h2>Напої</h2>
      <div class="menu-item">
        <div class="dish">
          <h3>Чай чорний/зелений</h3>
        </div>
        <div class="dish-details">
          <p class="weight">500 мл</p>
          <p class="price">100 грн</p>
        </div>
      </div>
      <div class="menu-item">
        <div class="dish">
          <h3>Еспресо</h3>
        </div>
        <div class="dish-details">
          <p class="weight">30 мл</p>
          <p class="price">100 грн</p>
        </div>
      </div>
      <div class="menu-item">
        <div class="dish">
          <h3>Американо</h3>
        </div>
        <div class="dish-details">
          <p class="weight">150 мл</p>
          <p class="price">100 грн</p>
        </div>
      </div>
      <div class="menu-item">
        <div class="dish">
          <h3>Капучино</h3>
        </div>
        <div class="dish-details">
          <p class="weight">200 мл</p>
          <p class="price">160 грн</p>
        </div>
      </div>
      <div class="menu-item">
        <div class="dish">
          <h3>Лате</h3>
        </div>
        <div class="dish-details">
          <p class="weight">200 мл</p>
          <p class="price">160 грн</p>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-wrap">
    <button class="btn-tbl js-open-modal" data-modal="1">
      Забронювати столик
    </button>
  </div>
</section>
