<section class="kitchen">
   <div class="container">
      <div class="kitchen-top-wrapper">
         <div class="kitchen-top-inner">
            <p class="kitchen-pretitle">Amet minim mollit non</p>
            <p class="kitchen-title">MIMIHO</p>
            <h2 class="hidden">Кухня ресторана MIMIHO</h2>
            <p class="kitchen-top-text">
               Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>

         </div>
         
         <img class="kitchen-top-img"
            srcset="./images/kitchen/kitchen-mob-img.jpg 244w, ./images/kitchen/kitchen-mob-imgx2.jpg 2x 244w, ./images/kitchen/kitchen-tab-img.jpg 400w, ./images/kitchen/kitchen-tab-imgx2.jpg 2x 400w, ./images/kitchen/kitchen-dt-img.jpg 460w, ./images/kitchen/kitchen-dt-img.jpg 2x 460w"
            sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, 244px"
            src="./images/kitchen/kitchen-mob-img.jpg"
            alt="kitchen image"
         />
      </div>
      <div class="kitchen-bottom-wrapper">
         <img class="kitchen-bottom-img"
            srcset="./images/kitchen/meet-mob-img.jpg 200w, ./images/kitchen/meet-mob-imgx2.jpg 2x 200w, ./images/kitchen/meet-tab-img.jpg 350w, ./images/kitchen/meet-tab-imgx2.jpg 2x 350w, ./images/kitchen/meet-dt-img.jpg 460w, ./images/kitchen/meet-dt-img.jpg 2x 460w"
            sizes="(min-width: 1280px) 460px, (min-width: 1024px) 350px, 200px"
            src="./images/kitchen/meet-mob-img.jpg"
            alt="cooking image">

         <p class="kitchen-bottom-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
         </p>

      </div>
      <div class="kitchen-slider">
         <!-- Slider main container -->
         <div class="swiper kitchen-swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
            <!-- Slides -->
               <div class="swiper-slide">
                  <img src="./images/kitchen/slider-dt-img-1.jpg" alt="img-1">
               </div>

               <div class="swiper-slide">
                  <img src="./images/kitchen/slider-dt-img-2.jpg" alt="img-2">
               </div>

            </div>
            <!--  Navigation buttons -->
            <ul class="kitchen-button-arrows">
               <li class="kitchen-button-left">
                   <svg class="sviper-arrow-left" width="32" height="32">
                      <use href="./images/icon.svg#icon-arrow-left"></use>
                   </svg>
               </li>
               
               <li class="kitchen-button-right">
                  <svg class="sviper-arrow-right" width="32" height="32">
                     <use href="./images/icon.svg#icon-arrow-right"></use>
                  </svg>
               </li>
            </ul>
            
         </div>
 
      </div>

   </div>
</section>