<div class="container room-amenites-containrs">
  <h2 class="amenites-title">ЗРУЧНОСТІ У НОМЕРІ</h2>
  <p class="amenites-text">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat sunt nostrud amet.
  </p>

  <div class="amenites-wrap">
    <ul class="amenites-list">
      <li><h3 class="amenites-subtitle">ЗАГАЛЬНІ</h3></li>
      <li>
        <p class="amenites-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
      <li>
        <p class="amenites-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
      <li><h3 class="amenites-subtitle">ВАННА КІМНАТА</h3></li>
      <li>
        <p class="amenites-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.n
        </p>
      </li>
      <li>
        <p class="amenites-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
      <li><h3 class="amenites-subtitle">КУХНЯ</h3></li>
      <li>
        <p class="amenites-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
      <li>
        <p class="amenites-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
      <li><h3 class="amenites-subtitle">МЕДІА</h3></li>
      <li>
        <p class="amenites-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </li>
      <li><button type="button" class="amenites-button">ОФОРМИТИ БРОНЮВАННЯ</button></li>
    </ul>
  </div>
  
  

  <div>
    <a href="#" class="amenites-link"
      >Повернутися до перегляду номерів<svg
        class="amenites-arrow-icon"
        width="24"
        height="24"
      >
        <use href="/icon.svg#icon-arrow-right">></use>
      </svg></a
    >
  </div>
</div>

