<div class="container room-amenites-container">
  <h2 class="amenites-title">ЗРУЧНОСТІ У НОМЕРІ</h2>
  <div class="amenites-wrap">
  <p class="amenites-text">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat sunt nostrud amet.
  </p>
</div>
      
      <h3 class="amenites-subtitle">ЗАГАЛЬНІ</h3>
      <div class="general-wrap">
      <ul class="general-list">
       <li class="general">
        <p class="amenites-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
      <li class="general">
        <p class="amenites-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
      </ul>
    </div>
      <h3 class="amenites-subtitle">ВАННА КІМНАТА</h3>
      <div class="bathroom-wrap">
        <ul class="general-list">
        <li class="general">
          <p class="amenites-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
      <li class="general">
        <p class="amenites-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
    </ul>
     </div>
      
     <h3 class="amenites-subtitle">СПАЛЬНЯ</h3>
      <div class="badroom-wrap">
        <ul class="general-list">
        <li class="general">
          <p class="amenites-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. 
        </p>
      </li>
     </ul>
     </div>
     
     <h3 class="amenites-subtitle">КУХНЯ</h3>
<div class="kitchen-wrap">
  <ul class="general-list">
      <li class="general">
        <p class="amenites-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
      <li class="general">
        <p class="amenites-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
      </ul>
      </div>
      <h3 class="amenites-subtitle">МЕДІА</h3></li>
      <div class="media-wrap">
        <ul class="general-list">
      <li class="general">
        <p class="amenites-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </li>
    </ul>
  </div>
  
   <div class="button-wrap">
  <a href="#" class="details-room-btn js-open-modal" data-modal="2"><button type="button" class="amenites-button">ОФОРМИТИ БРОНЮВАННЯ</button></a>
  </div>

 <div class="amenites-link-wrap">
    <a href="#" class="amenites-link"
      >Повернутися до перегляду номерів<svg
        class="amenites-arrow-icon"
        width="24"
        height="24"
      >
        <use href="../images/icon.svg#icon-arrow-right"></use>
      </svg></a
    >
  </div>
  </div>


