<div class="container room-amenites-container">
  <h2 class="amenites-title">ЗРУЧНОСТІ У НОМЕРІ</h2>
  <div class="amenites-wrap">
  <p class="amenites-text">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat sunt nostrud amet.
  </p>
</div>
      
      <h3 class="amenites-subtitle">ЗАГАЛЬНІ</h3>
      <div class="general-wrap">
      <ul class="general-list">
       <li class="general">
        <p class="amenites-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
      <li class="general">
        <p class="amenites-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
      </ul>
    </div>
      <h3 class="amenites-subtitle">ВАННА КІМНАТА</h3>
      <div class="bathroom-wrap">
        <ul class="general-list">
        <li class="general">
          <p class="amenites-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
      <li class="general">
        <p class="amenites-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </li>
    </ul>
     </div>
      
     <h3 class="amenites-subtitle">СПАЛЬНЯ</h3>
      <div class="badroom-wrap">
        <ul class="general-list">
        <li class="general">
          <p class="amenites-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. 
        </p>
      </li>
     </ul>
     </div>
     
     <h3 class="amenites-subtitle">КУХНЯ</h3>
<div class="kitchen-wrap">
  <ul class="general-list">
      <li class="general">
        <p class="amenites-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
      <li class="general">
        <p class="amenites-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
      </ul>
      </div>
      <h3 class="amenites-subtitle">МЕДІА</h3></li>
      <div class="media-wrap">
        <ul class="general-list">
      <li class="general">
        <p class="amenites-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </li>
    </ul>
  </div>
  
   <div class="button-wrap">
  <a href="#" class="details-room-btn js-open-modal" data-modal="2"><button type="button" class="amenites-button">ОФОРМИТИ БРОНЮВАННЯ</button></a>
  </div>

 <div class="amenites-link-wrap">
    <a href="#" class="amenites-link"
      >Повернутися до перегляду номерів<svg
        class="amenites-arrow-icon"
        width="24"
        height="24"
      >
        <use href="../images/icon.svg#icon-arrow-right"></use>
      </svg></a
    >
  </div>
  

  <div class="modal" data-modal="2">
    <button type="button" class="book-room-modal-close-btn js-modal-close">
        <svg class="book-room-modal-close-btn-icon">
            <use href="/images/icon.svg#icon-cross"></use>
        </svg>
    </button>
    <p class="book-room-modal-txt">забронювати номер</p>
    <form class="book-room-contact-form">
        <label class="book-room-contact-form-field">
            <input 
                type="text" 
                class="book-room-contact-form-input" 
                placeholder="Ваше ім’я" 
                name="user_name" 
                required
                pattern="^[a-zA-Zа-яА-ЯіІїЇ]+$">
            <span class="book-room-contact-form-input-txt">На кого забронювати номер?</span>
        </label>
        <label class="book-room-contact-form-field">
            <input 
                type="tel" 
                class="book-room-contact-form-input" 
                placeholder="+38 (___) ___-__-__" 
                name="user_phone" 
                required
                pattern="+38[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                title="xxx-xxx-xx-xx">
            <span class="book-room-contact-form-input-txt">Номер телефону</span>
        </label>
        <div class="book-room-select-wrap">
            <select class="book-room-select-field" name="room_category">
                <option value="double_room_lux">Двомісний люкс</option>
                <option value="triple_room">Трьохмісний</option>
                <option value="double_room">Двомісний</option>
            </select>
            <span class="book-room-contact-form-input-txt">Категорія номеру</span>
        </div>
        <label class="book-room-contact-form-field">
            <input 
                type="date" 
                class="book-room-contact-form-input date-picker"
                name="check-in-date" 
                placeholder="Сьогодні"
                required>
                <span class="book-room-date-form-input-txt">Дата заїзду</span>
        </label>
        <label class="book-room-contact-form-field">
            <input 
                type="date" 
                class="book-room-contact-form-input date-picker"
                name="check-out-date" 
                placeholder="Сьогодні"
                required>
                <span class="book-room-date-form-input-txt">Дата виїзду</span>
        </label>
    </form>
    <div class="book-room-contact-form-btn-wrap">
        <button type="submit" class="book-room-contact-form-btn">оформити бронювання</button>
    </div>
</div>
  </div>


